html,
body {
  padding: 0;
  margin: 0;
  font-family: 'OpenSans', sans-serif;
}

a {
  color: inherit;
  text-decoration: underline;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Libre Baskerville';
  src: local('Libre Baskerville'), local('LibreBaskerville'),
    url('/fonts/LibreBaskerville-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), local('OpenSans'), url('/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: local('Open Sans Bold'), local('OpenSansBold'),
    url('/fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
