html,
body {
  padding: 0;
  margin: 0;
  font-family: 'OpenSans', sans-serif;
}

a {
  color: inherit;
  text-decoration: underline;
  font-family: 'Open Sans Bold';
}

b {
  font-family: 'Open Sans Bold';
}

hr {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #d9d9d9;
  margin: 0;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Libre Baskerville';
  src: local('Libre Baskerville'), local('LibreBaskerville'),
    url('/fonts/LibreBaskerville-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), local('OpenSans'), url('/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: local('Open Sans Bold'), local('OpenSansBold'),
    url('/fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
