argcomplete==1.12.3
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2021.5.30
cfgv==3.3.0
charset-normalizer==2.0.4
click==8.0.1
distlib==0.3.2
filelock==3.0.12
fuzzywuzzy==0.18.0
html5lib==1.1
identify==2.2.13
idna==3.2
lxml==4.6.3
nodeenv==1.6.0
packaging==21.0
pep517==0.11.0
pip-tools==6.2.0
pipenv==2021.5.29
pipx==0.16.4
platformdirs==2.2.0
pre-commit==2.14.0
PyMySQL==1.0.2
pyparsing==2.4.7
python-Levenshtein==0.12.2
PyYAML==5.4.1
requests==2.26.0
rethinkdb==2.4.8
setuptools~=57.0.0
six==1.15.0
soupsieve==2.2.1
toml==0.10.2
tomli==1.2.1
urllib3==1.26.6
userpath==1.7.0
virtualenv==20.7.2
virtualenv-clone==0.5.6
webencodings==0.5.1
xmltodict==0.12.0

boto3~=1.18.22
pynamodb~=5.1.0
jsonschema~=3.2.0
jmespath~=0.10.0
pip~=21.2.2
wheel~=0.36.2
botocore~=1.21.22
s3transfer~=0.5.0
python-dateutil~=2.8.2